*{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body{
    border: 5px solid black;
}

.wrapper{
    
    background-color: wheat;
    border: 3px solid black;
    padding: 10px;
    width: fit-content;
    margin: auto;
    align-items: center;
    text-align: center;
}

.wrapper-header{
    background-color: wheat;
    border: 3px solid black;
    width: auto;
    
}


.divs{
    padding: 20px;
    text-align: center;
    
}

.sp{
    text-align: center;
    align-items: center;
    font-size: 40px;
}

.p-thread{
    text-align: left;
    margin-left: 15px;
}

.user-detail{
    background-color: aquamarine;
    border: 3px solid black;
    padding: 10px;
    width: fit-content;
    margin: auto;
    align-items: center;
    text-align: center;
    display: none;

}